<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="floorQuantity" value="6" />
    <add key="Floor0" value="3" />
    <add key="Floor1" value="5" />
    <add key="Floor2" value="4" />
    <add key="Floor3" value="3" />
    <add key="Floor4" value="5" />
    <add key="Floor5" value="3" />
    <add key="Floor6" value="6" />
  </appSettings>
</configuration>